<div class="row">
	<h1 class="text-center">World Cups throughout the years</h1>
	<h3 class="text-center"></h3>
	<br>
	<div class="world-cup text-center">
		<section class="text-center"></section>
	</div>
</div>

<style>
	circle {
		fill: orange;
		stroke: black;
		stroke-width: 0.7;
		opacity: 0.7;
	}

	.years_button {
		vertical-align: top;
	}

		.years_button div {
			padding: 0.7em;
			margin-bottom: 1em;
			margin-right: 1em;
			background-color: orange;
			color: white;
			display: inline-block;
		}
</style>

<script type="text/javascript">
	function draw(geoData) {
		"use strict";
		var margin = 50,
			 width = 920 - margin,
			height = 600 - margin;

		var svg = d3.select("section")
			.append("svg")
			.attr("width", width + margin)
			.attr("height", height + margin)
			.append("g")
			.attr("class", "map");

		var years = [];

		for (var i = 1930; i < 2015; i +=4) {
			if (i !== 1942 && i !== 1946) {
				years.push(i);
			}
		}

		var projection = d3.geo.mercator()
							   .scale(120)
							   .translate([width/2, height/1.5]);

		var path = d3.geo.path().projection(projection);

		var map = svg.selectAll("path")
			.data(geoData.features)
			.enter()
			.append("path")
			.attr("d", path)
			.style("fill", "lightblue")
			.style("stroke", "black")
			.style("stroke-width", 0.5);

		function plotPoints (data) {
			function aggregateYear(leaves) {
				var total = d3.sum(leaves, function (d) {
									return d["attendance"];
								});

				var coords = leaves.map(function (d) {
					return projection([+d.long, +d.lat]);
				});

				var centerX = d3.mean(coords, function (d) {
					return d[0];
				});

				var centerY = d3.mean(coords, function (d) {
					return d[1];
				});

				var teams = d3.set()

				leaves.forEach(function (d) {
					teams.add(d["team1"]);
					teams.add(d["team2"]);
				})

				return {
					"attendance": total,
					"x": centerX,
					"y": centerY,
					"teams": teams.values()
				}
			}
			var nested = d3.nest()
						   .key(function (d) {
								return d["date"].getUTCFullYear();
						   })
						   .rollup(aggregateYear)
						   .entries(data);

			var attendanceExtent = d3.extent(nested, function (d) {
				return d.values["attendance"];
			})

			var radiusScale = d3.scale.sqrt()
								.domain(attendanceExtent)
								.range([0,12]);

			svg.append("g")
			   .attr("class", "bubble")
			   .selectAll("circle")
			   .data(nested.sort(function (a, b) {
					return b.values["attendance"] - a.values["attendance"];
			   }), function (d) {
			   		return d["key"];
			   })
			   .enter()
			   .append("circle")
			   .attr("cx", function (d) { return d.values["x"] })
			   .attr("cy", function (d) { return d.values["y"] })
			   .attr("r", function (d) { return radiusScale(d.values["attendance"]) })
	
			function update(year) {
				var filtered = nested.filter(function (d) {
					return new Date(d["key"]).getUTCFullYear() === year;
				})

				d3.select("h3")
				  .text("World Cup " + year);

				var circles = svg.selectAll("circle")
								 .data(filtered, function (d) {
								 	return d["key"];
								 })

				circles.exit().remove();

				circles.enter()
					   .append("circle")
					   .transition()
					   .duration(500)
					   .attr("cx", function (d) { return d.values["x"] })
					   .attr("cy", function (d) { return d.values["y"] })
					   .attr("r", function (d) { return radiusScale(d.values["attendance"]) })
				 

				var countries = filtered[0].values["teams"];

				function updateCountries(d) {
					if (countries.indexOf(d.properties.name) !== -1) {
						return "lightblue";
					} else {
						return "#272b30";
					}
				}

				svg.selectAll("path")
				   .transition()
				   .duration(500)
				   .style("fill", updateCountries)
				   .style("stroke", updateCountries);
			}

			var yearIdx = 0;

			var yearInterval = setInterval(function() {
				update(years[yearIdx]);
				yearIdx++;
				if (yearIdx >= years.length) {
					clearInterval(yearInterval);

					var buttons = d3.select("div .world-cup")
						.append("div")
						.attr("class", "years_button")
						.selectAll("div")
						.data(years)
						.enter()
						.append("div")
						.text(function (d) {
							return d;
						});

					buttons.on("click", function (d) {
						d3.select(".years_button")
						  .selectAll("div")
						  .transition()
						  .duration(500)
						  .style("background", "orange")
						  .style("color", "white");

						d3.select(this)
						  .transition()
						  .duration(500)
						  .style("background", "lightblue")
						  .style("color", "white");

						update(d);
					})
				}
			}, 1000)
		}

		var format = d3.time.format("%d-%m-%Y (%H:%M h)");
		d3.tsv("/tsv/world-cup-geo.tsv", function (d) {
			d["date"] = format.parse(d["date"]);
			d["attendance"] = +d["attendance"];
			return d;
		}, plotPoints)
	}

	d3.json("/json/world-countries.json", draw);
</script>